<header class="font-0">
	<img src="images/1.jpg" width="100%"/>
	<h1 class="absolute" style="left:74vw;top:5vw;font-size: 3.5vw">
		<a href="tel:13308416262">13308416262</a>
	</h1>
	<nav class="row bg-green text-center font-16 pd-xs-y">
		<a href="" class="col">首页</a>
		<a href="" class="col">产品列表</a>
		<a href="" class="col">案例展示</a>
		<a href="" class="col">关于我们</a>
	</nav>
</header>
