<div class="about-us pd-xs bg-grey-1 text-center">
	<h1 class="pd-xs-y fg-black">征程木业</h1>
	<p class="fg-green row items-center text-center justify-center">
		<i class="iconfont iconai-tel font-24 pd-xs-r"></i>
		<a href="tel:400 0654 365">24小时服务热线 400 0654 365</a>
	</p>
	<div style="white-space: nowrap" class="over-auto-x mg-xs-t">
		<a class="mg-xs-r" href=""><img src="./images/3.jpg" width="150" height="100"></a>
		<a class="mg-xs-r" href=""><img src="./images/3.jpg" width="150" height="100"></a>
		<a class="mg-xs-r" href=""><img src="./images/3.jpg" width="150" height="100"></a>
		<a class="mg-xs-r" href=""><img src="./images/3.jpg" width="150" height="100"></a>
		<a class="mg-xs-r" href=""><img src="./images/3.jpg" width="150" height="100"></a>
		<a class="mg-xs-r" href=""><img src="./images/3.jpg" width="150" height="100"></a>
		<a class="mg-xs-r" href=""><img src="./images/3.jpg" width="150" height="100"></a>
	</div>
</div>