<footer class="row sticky bottom left opacity-8 bg-green text-center" style="line-height: 1.2">
	<a href="" class="col pd-xs-y"><i class="iconfont font-24 iconshouye"></i><br>首页</a>
	<a href="" class="col pd-xs-y"><i class="iconfont font-24 icondianhua1"></i><br>电话</a>
	<a href="" class="col pd-xs-y"><i class="iconfont font-24 iconzixun"></i><br>咨询</a>
	<a href="" class="col pd-xs-y"><i class="iconfont font-24 iconliuyan"></i><br>留言</a>
</footer>