<!DOCTYPE html>
<html lang="zh-cn">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0">
	<title>我的私信</title>
	<script src="./js/cache.js"></script>
	<!--<script>getFormCache.css(["./css/app.min.css","./css/pulldown.css"],true)</script>-->
	<link rel="stylesheet" href="./css/app.min.css">
	<link rel="stylesheet" href="./css/pulldown.css">
	<script>
		var appConfig = {
			msgCount: 15,
			sdkAppID: 1400213918,
			identifier: 'john',
			identifierNick: 'johnNick',
			headUrl: "./images/user-bg.png",
			sig: 'eJxlz1FPgzAQwPF3PkXTZ*PaYuMw2QMsI3EDEuyiiS8Ng*KuxIKsFJ3xuxtRI4n3*vtfLvfuIYTwPhGXRVm2g7HSvnUKoxuECb74w66DShZW*n31D9VrB72SRW1VPyHlnDNC5g1Uylio4afQ7dHM9FQ1cjrxvX5FCKN*QJfzBJ4mTDf5*jaG*1ZEmVmnLBEHZ*70OGpd7njY0GsWh0KYfjFExyxOQwiHgxbObdRu*5KnDXs8byE*Z0n8MIiFzgaXRaEOaoAxz1er2UkLz*r3n4DSYMn5TJ3qT9CaKWCEcsp88jXY*-A*AQMxXZE_',
			gifts: [{
				id: 1,
				imageUrl: './images/g_1.jpg',
				coin: 100,
				giftName: "炸鸡"
			}, {
				id: 2,
				imageUrl: './images/g_2.jpg',
				coin: 100,
				giftName: "火腿"
			}, {
				id: 3,
				imageUrl: './images/g_3.jpg',
				coin: 100,
				giftName: "超级跑车"
			}],
			goods: [{
				id: 1,
				imageUrl: './images/g_1.jpg',
				needCoinNum: 100,
				productName: "炸鸡1"
			}, {
				id: 2,
				imageUrl: './images/g_2.jpg',
				needCoinNum: 100,
				productName: "火腿1"
			}, {
				id: 3,
				imageUrl: './images/g_3.jpg',
				needCoinNum: 100,
				productName: "超级跑车1"
			}]
		}
	</script>
	<style>
		body {
			min-height: 100vh;
		}

		[v-cloak] {
			display: none;
		}

		.w-20 {
			width: 20px
		}
		.w-30 {
			width: 30px
		}

		.menu {
			visibility: hidden;
		}
		.menu.show {
			visibility:visible;
		}
	</style>
</head>

<body ontouchstart="">
	<div class="message box" id="app" v-cloak>
		<ul class="list">
			<li class="item row nowrap border-b border-default relative over-hidden" v-for="(item,index) in recentMap"
				:key="item.id" @click="chatWith(item)">
				<div class="row pd-xs col-12">
					<img :src="item.headUrl" width="50" height="50" class="round border fg-red">
					<div class="pd-xs-l font-14 col ellipsis">
						<h6>{{item.nickName}}<i class="iconfont font-normal pd-xs-l"
								:class="item.sex==0?'none':item.sex==1?'icon-nan fg-blue':'icon-nv fg-red'"></i></h6>
						<p class="ellipsis font-12" :class="item.lastMsg.indexOf('礼物')==-1?'fg-grey':'fg-red'"
							v-html="item.lastMsg"></p>
					</div>
					<div class="pd-xs-x fg-grey text-right font-12">
						<p>{{filterTime(item.timestamp)}}</p>
						<p style="min-width: 1.5em;"
							class="inline round-sm bg-red self-center font-12 justify-center line-1 pd-xss"
							v-show="item.unread>0">
							{{item.unread|filterUnread}}</p>
					</div>
				</div>
				<div class="bg-red row pd-sm-x" @click="delInList($event,index,item.id)">
					<i class="iconfont icon-shanchu font-28 self-center"></i>
				</div>
			</li>
		</ul>
		<div class="fg-grey text-center" style="padding-top: 30vh" v-if="!recentMap.length&&!loading">
			<p>您的聊天对象还是空的</p>
			<p class="pd-lg-b">快去撩TA吧</p>
			<a href="/" class="btn gradient-2 fg-white">去撩TA</a>
		</div>
		<chat v-if="!loading" ref="chat"></chat>
	</div>

	<template id="chat">
		<div class="chat column fixed full-width full-height left bottom" :class="{'invisible':!$root.sess.id}"
			style="height:100vh;touch-action: none">
			<header class="row justify-between items-center pd-xs font-bold line-1 border-b border-default font-20">
				<i class="iconfont icon-zuo fg-red" @click="$root.sess={}"></i>
				<span class="font-bold">{{$root.sess.nickName}}</span>
				<i></i>
				<!--暂时去掉此功能-->
				<!--<i class="iconfont icon-gengduo fg-red" @click="action"></i>-->
			</header>
			<main class="col relative over-hidden">
				<div class="loading-txt font-12 text-center"></div>
				<img src="./images/loading.svg" width="16" height="16" class="absolute left-50 top z-top loading"
					style="display: none">
				<div class="scroll-box over-scroll absolute full-width full-height left top pd-xs-x">
					<chat-item v-for="item in list" :key="item.uniqueId" :send="item.isSend" :msg="item.msg"
						:loading="item.loading" :failed="item.failed" :gift="item.isGift"></chat-item>
				</div>
			</main>
			<chat-footer :sess="$root.sess"></chat-footer>
		</div>
	</template>

	<template id="tpl">
		<footer>
			<div class="row items-center border-b border-t border-default pd-xs">
				<i class="iconfont icon-jia1 fg-red font-36 line-1 pd-xss-r" @click="chooseGift=true"></i>
				<textarea rows="1" class="col border border-default round-mini line-1 pd-xs"
					style="height: 36px;resize: none" @focus="chooseGift=false" v-model="msg"
					onblur="setTimeout(function() {window.scrollTo(0,0)},60)"></textarea>
				<i class="iconfont icon-send fg-red font-36 line-1 pd-xss-l" @click="sendMsg()"></i>
				<!--<i class="iconfont icon-send fg-red font-36 line-1 pd-xss-l"></i>-->
			</div>
			<div class="menu fixed full-width full-height bg-white left top" :class="chooseGift?'show':''">
				<div class="row justify-around">
					<div :class="{'pink-title':type==0}" @click="type=0">道具</div>
					<div :class="{'pink-title':type==1}" @click="type=1">酒水</div>
				</div>
				<div v-show="type==0" ref="gifts" style="scroll-behavior: smooth"
					class="row nowrap full-width over-hidden text-center hide-scroll pd-sm-b">
					<div class="gifts col-full row content-start items-start" v-for="(item,index) in list">
						<div class="col-3 col-sm-2 col-lg-1 pd-xs" :class="giftActive==subItem?'active':''"
							v-for="(subItem,subIndex) in item" :key="subItem.id" @click="giftActive=subItem">
							<div class="bg-white shadow-xss pd-xs-b font-12">
								<div class="image"><img :src="subItem.imageUrl"></div>
								<h6 class="fg-grey-3">{{subItem.giftName||subItem.productName}}</h6>
								<div class="line-1">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="14" height="14"
										class="vt-middle">
										<circle cx="50" cy="50" r="50" fill="#ffc76b" />
										<circle cx="50" cy="50" r="40" fill="#f7b547" />
										<text x="15" y="80" fill="#ffc76b" font-size="70">￥</text>
									</svg>
									<span class="vt-middle">{{subItem.coin||subItem.needCoinNum}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div v-show="type==1" ref="goods" style="scroll-behavior: smooth"
					class="row nowrap full-width over-hidden text-center hide-scroll pd-sm-b">
					<div class="gifts col-full row content-start items-start" v-for="(item,index) in list">
						<div class="col-3 col-sm-2 col-lg-1 pd-xs" :class="giftActive==subItem?'active':''"
							v-for="(subItem,subIndex) in item" :key="subItem.id" @click="giftActive=subItem">
							<div class="bg-white shadow-xss pd-xs-b font-12">
								<div class="image"><img :src="subItem.imageUrl"></div>
								<h6 class="fg-grey-3">{{subItem.productName}}</h6>
								<div class="line-1">
									<b class="fg-yellow">￥</b>
									<span class="vt-middle">{{subItem.needCoinNum}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="pages absolute left-50 translate--50-x row" style="bottom:58px" v-show="type==0">
					<div class="pd-xss round-sm mg-xss-x" v-for="i in gifts.length"
						:class="i==giftIndex?'w-20 bg-red':'bg-grey'"></div>
				</div>
				<div class="pages absolute left-50 translate--50-x row" style="bottom:58px" v-show="type==1">
					<div class="pd-xss round-sm mg-xss-x" v-for="i in goods.length"
						:class="i==giftIndex2?'w-20 bg-red':'bg-grey'"></div>
				</div>
				<div class="pd-xs row items-center justify-between absolute full-width bottom left">
					<a class="btn btn-lg bg-orange round-sm line-1 fg-white" @click="chooseGift=false">取消</a>
					<div>
						数量:
						<i class="iconfont icon-jian1 fg-grey font-20"
							@click="giftCount=Math.max(giftCount-1,1)"></i>
						<input class="w-30 border-b border-default text-center line-1" type="tel" maxlength="2"
							v-model.number="giftCount" oninput="value=value==''?'':(Number(value)||1)" @blur="blur" />
						<i class="iconfont icon-jia2 fg-grey font-20"
							@click="giftCount=Math.min(giftCount+1,99)"></i>
						<a class="btn btn-lg bg-red round-sm line-1 fg-white mg-xs-x" @click="sendGift">确认</a>
					</div>
				</div>
			</div>
		</footer>
	</template>
	<!--<script>-->
	<!--getFormCache.script([-->
	<!--"./js/zepto.js",-->
	<!--"./js/util.js",-->
	<!--"./js/pulldown.js",-->
	<!--"./js/im/webim.min.js",-->
	<!--"./js/vue.min.js",-->
	<!--"./js/chat.js",-->
	<!--"./js/message.js",-->
	<!--],false)-->
	<!--</script>-->

	<script src="./js/zepto.js"></script>
	<script src="./js/util.js"></script>
	<!--<script src="./js/pulldown.js"></script>-->
	<script src="./js/im/webim.min.js"></script>
	<script src="./js/vue.min.js"></script>
	<script src="./js/chat.js"></script>
	<script src="./js/message.js"></script>
</body>

</html>