<!-- 自行引用到 index.html giftList.html user.html 三个文件body 底部。-->
<!-- 底部三个导航，两种状态，分别对应6种图片。自行判断当前页的选中图标-->
<nav class="fixed bottom left full-width bg-white row justify-around border-t border-default font-0" style="padding:6px 0">
    <a><img src="./images/home_sel.png" width="24" height="40"></a>
    <a><img src="./images/gift.png" width="24" height="40"></a>
    <a><img src="./images/message.png" width="24" height="40"></a>
    <a><img src="./images/mine.png" width="24" height="40"></a>
</nav>