@import "../css/iconfont.css";
@import "../../node_modules/gmcss/stylus/vars.styl";
$pink = #fa3898
$global-bg = #f7f7f7;
$global-font-size = 16px
$border-color-default = #eee
$colors.red = {
    '1': #f97ab9,
    '2': $pink,
    '3': #D50000
}
$colors.grey = {
    '1': #e9e9e9,
    '2': #999,
    '3': #666,
}

$colors.orange = {
    '1':#FFD180
    '2':#f7b547
    '3':#FF6D00
}
$size.xss=0.25em
$make_cols(key = '') 
    for count in (1...$col-count + 1)
        $v = (floor(count / $col-count * 100000) / 1000) + '%'
        .col{key}-{count}
            flex  0 0 $v
        .offset{key}-{count}
            margin-left $v
@import "../../node_modules/gmcss/stylus/core.styl" ; 
.bg-translucence
    background-color rgba(0, 0, 0, 0.8)

body
    font-family: -apple-system,'Helvetica'
.modal
    opacity 0
    visibility hidden
    transform: translate3d(0,10px,0)
    transition transform 0.2s ease-out, opacity 0.2s, visibility 0s linear 300ms
    &.show
        opacity 1
        visibility visible
        transform translate3d(0, 0, 0)
        transition visibility 0s linear 0s, opacity 0.2s, transform 0.2s ease-out

.pink-title
    border-bottom: 2px solid $pink
.ellipsis-1
    @extends .ellipsis-2
    -webkit-line-clamp 1
.notice
    transition: bottom .3s
    max-width 95vw
    &.show
        bottom:20px
.line-1
    line-height: 1
.gradient
    background linear-gradient(to bottom, #f7a0cc, $pink)
.gradient-1
    background linear-gradient(to bottom right,  $pink,#f7a0cc)
.gradient-2
    background linear-gradient(to bottom right, #3d8fff, #3db5ee)
.hide-scroll::-webkit-scrollbar
    display:none
#image-crop
    opacity 0
    visibility hidden
    transform: translate3d(100vw,0,0)
    transition: transform 0.4s ease-out, opacity 0.4s, visibility 0s linear 300ms
    &.show 
        opacity 1
        visibility visible
        transform: translate3d(0,0,0)
        transition visibility 0s linear 0s,opacity 0.4s, transform 0.4s ease-out
.icon-money
    border-radius: 50%
    padding .15em;
    background-color #ffc76b
.image
    font-size: 0
    text-align center
    position relative
    &:before
        content: ""
        display inline-block
        vertical-align middle
        width 0
        padding-bottom 100%
    img
        vertical-align middle
        max-height: 100%
.index
    padding-bottom 55px
    >header 
        height 44vw
        li:first-child
            z-index 1

.recieved
    padding-top: 60px;
    padding-bottom 55px
    >ol,li
        list-style-type: decimal
        list-style-position: inside
        &.me
            background-color #ccc
            &~li>.col
                border: 0
    .ranking
        width: 28px;
        height 28px
        line-height: 36px
        background: no-repeat center center
        background-size: 100% 100%
        text-align: center
    .top-1
        background-image: url(../images/list_1.png)
    
    .top-2
        background-image: url(../images/list_2.png)
    
    .top-3
        background-image: url(../images/list_3.png)
.bar-info
    &-bg
        width: 100vw
        min-height: 100vh
        background: url(../images/banner.png) no-repeat
        background-size 100% 100%
        position: fixed
        z-index -1
        left 0;
        top: 0
        filter:blur(20px)
    .recommend
        height 140px
        overflow: hidden
        >div
            padding-bottom 20px
    a
        margin-right:  4px
        flex: 0 0 100px
    figure
        border-radius: 6px
        overflow hidden
        &:before
            content: ""
            display inline-block
            height 100%
            vertical-align: middle
        img
            vertical-align: middle

.map-results
    max-height: 80vh;
    overflow-x hidden
    overflow-y scroll
    border: $size.xs #fff solid
    border-right: 0
    &:empty
        display none
.user
    padding-bottom 55px
    .gifts
        margin-bottom -10px
    .gift
        padding: 2px
        box-shadow: #aaa 0 0 2px 0
        flex-shrink: 0
.edit
    .sex
        display: none
    .sex:checked
        ~.nan2,~.nv
            display none
    
    .sex:not(:checked)
        ~.nan,~.nv2
            display none
.sliderbox
    figure
        transition: all .3s ease-out
.date-picker-mask
    background: linear-gradient(to bottom, #fff,rgba(255, 255, 255, 0),#fff);
    pointer-events: none
    height 14em
.date-picker
    >ul
        height: 14em
        overflow-x hidden
        overflow-y: scroll
        padding: 6em 0
        position relative
        // scroll-behavior: smooth
        -webkit-overflow-scrolling touch
    li
        &:first-child
            border-top-width: 0 !important
        &.active
            border-color #ccc
            color: $pink

.upload-view
    height 100vw
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC")
.album>main>div
    transition: all .2s
    &.active
        opacity .5
        transform: translate3d(0,-10px,0)
.message
    >.list
        min-height 100vh
        >.row
            scroll-behavior smooth
            
.chat
    background-color: $global-bg;
    .scroll-box
        background-color: $global-bg;
    >main
        line-height:1.3em;
        word-break: break-word;
        scroll-behavior: smooth
        transition transform .2s
        -webkit-overflow-scrolling touch
    .active>div
            box-shadow $pink 0 0 4px 0

    .content
        max-width 60vw
#gift>li>div
    box-shadow: #eee 0 0 1px 1px
    >p
        background-color #fcfcfc
.order
    >.title
        background-color $global-bg
