<!DOCTYPE html>
<html lang="zh-cn">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0">
	<title>昵称</title>
	<link rel="stylesheet" href="./css/app.min.css">
	<link rel="stylesheet" href="./css/pulldown.css">
	<style>
		.w-20{width: 20px}
		.menu{max-height: 0;overflow: hidden;transition: max-height .2s;}
		.menu.show{max-height: 100vh;}
	</style>
	<script>
		// if(window===window.parent){
		// 	window.stop()
		// }
		var appConfig={
			sdkAppID:1400213918,
			uid:123,
			identifier:'david',
			sig:'eJxlz0FPgzAUwPE7n4L0OuPasrrhrU7NyEQi3RLmhTS0YIVBgY7hjN99GWok8V1--5eX92nZtg02T*yaJ0l1KE1sPrQE9q0NILj6Q62ViLmJnUb8Q9lr1ciYp0Y2AyJCCIZw3CghS6NS9VMI3ikx4lbk8XDje38GIUaOixbjRGUD*g*7pfeyJCt2qlsVscdiWqw5oSHxWZZ1k2Q-Q-k0qOqQHgSm7x713qjfB8zo0yoPt3Cr18dyw9Jd9owm9JVH-V1S3AcL2tV5dPRGJ43ay9*HXITc*c18pJ1sWlWVQ4AhIgg78DLA*rLOQwFdpA__',
			gifts:[]
		}
		for(let i=0;i<10;i++){
			appConfig.gifts.push({
				id:i,
				imageUrl:'./images/g_1.jpg',
				coin:100,
				giftName:"炸鸡"
			})
		}
	</script>
</head>
<body>
<div class="chat column" style="height:100vh;" id="app2">
	<main class="col relative over-hidden">
		<div class="minirefresh-wrap" id="minirefresh">
			<div class="minirefresh-scroll">
				<!--我的礼物-->
				<div class="row full-width items-center">
					<img src="./images/user-bg.png" width="32" height="32" class="round">
					<div class="bg-white round-xs pd-xs content">送出汽车</div>
					<img src="./images/user-bg.png" width="32" height="32">
					<span class="fg-red-1">x1</span>
					<img src="./images/loading.svg" width="16" height="16">
					<i class="iconfont icon-gantanhao3-hei fg-red" onclick="action.sheet()"></i>
				</div>
				<!--我的消息-->
				<div class="row full-width">
					<img src="./images/user-bg.png" width="32" height="32" class="round mg-xs-r">
					<div class="bg-white round-xs pd-xs content">你好</div>
				</div>

				<div class="row full-width justify-end items-center">
					<img src="./images/loading.svg" width="16" height="16">
					<span>x1</span>
					<img src="./images/user-bg.png" width="32" height="32">
					<div class="bg-red-1 round-xs pd-xs content">送出汽车</div>
					<img src="./images/user-bg.png" width="32" height="32" class="round mg-xs-l">
				</div>
				<div class="row full-width justify-end">
					<img src="./images/user-bg.png" width="32" height="32" class="round mg-xs-l">
					<div class="bg-red-1 round-xs pd-xs content at-first">你好</div>
				</div>
			</div>
		</div>
	</main>
	<footer class="relative z-normal">
		<div class="row items-center border-b border-t border-default pd-xs">
			<i class="iconfont icon-jia1 fg-red font-36 line-1 pd-xss-r" @click="toogle"></i>
			<textarea rows="1" class="col bg-white round-mini line-1 pd-xs" style="height: 36px;" @focus="chooseGift=false"></textarea>
			<i class="iconfont icon-send fg-red font-36 line-1 pd-xss-l" onclick="action.sendMsg()"></i>
		</div>
		<div class="menu relative" :class="chooseGift?'show':''">
			<div ref="box" style="scroll-behavior: smooth" class="border-b border-default row nowrap full-width over-hidden text-center hide-scroll pd-sm-b">
				<div class="gifts col-full row" v-for="(item,index) in gifts">
					<div class="col-3 col-sm-2 col-md-1 pd-xs"
						 :class="giftActive==subItem?'active':''"
						 v-for="(subItem,subIndex) in item"
						 :key="subItem.id"
						 @click="giftActive=subItem"
					>
						<div class="bg-white shadow-xss pd-xs-b">
							<div class="image"><img :src="subItem.imageUrl"></div>
							<h6 class="fg-grey-3">{{subItem.giftName}}</h6>
							<div class="line-1">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="14" height="14" class="vt-middle">
									<circle cx="50" cy="50" r="50" fill="#ffc76b"/>
									<circle cx="50" cy="50" r="40" fill="#f7b547"/>
									<text x="15" y="80" fill="#ffc76b" font-size="70">￥</text>
								</svg>
								<span class="vt-middle">{{subItem.coin}}</span>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="pages absolute left-50 translate--50-x row" style="bottom:58px">
				<div class="pd-xss round-sm mg-xss-x"
					 v-for="i in gifts.length"
					 :class="i==giftIndex?'w-20 bg-red':'bg-grey'"
				></div>
			</div>
			<div class="pd-xs row items-center">
				数量：
				<i class="iconfont icon-jian1 fg-grey pd-xs-x font-20" @click="giftCount=Math.max(giftCount-1,1)"></i>
				<input class="w-20 border-b border-default text-center line-1"
					   type="tel"
					   maxlength="2"
					   v-model.number="giftCount"
					   oninput="value=value==''?'':(Number(value)||1)"
					   onblur="value=value||1"
				/>
				<i class="iconfont icon-jia2 fg-grey pd-xs-x font-20" @click="giftCount=Math.min(giftCount+1,99)"></i>
				<a class="btn btn-lg bg-red round-sm line-1 fg-white self-right" @click="sendGift">确认</a>
			</div>
		</div>
	</footer>
</div>

<script src="./js/pulldown.js"></script>
<script src="js/vue.runtime.min.js"></script>
<script src="./js/chat.js"></script>
</body>
</html>
