@font-face {
  font-family: "iconfont";
  src: url('../font/iconfont.woff2?t=1550906451333') format('woff2');

}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconyuanjiaojuxing1kaobei-copy1:before {
  content: "\e602";
}

.iconyouhuiquan1:before {
  content: "\e61d";
}

.iconwenti3:before {
  content: "\e757";
}

.iconshijian:before {
  content: "\e60f";
}

.iconchenggong:before {
  content: "\e658";
}

.iconshouji:before {
  content: "\e620";
}

.iconxiaofeijilu:before {
  content: "\e63a";
}

.iconarrow-down:before {
  content: "\e600";
}

.icondianhua:before {
  content: "\e627";
}

.icontishi:before {
  content: "\e61e";
}

.iconarrow-right:before {
  content: "\e603";
}

.iconyouhuiquan2:before {
  content: "\e619";
}

.iconyouhuiquan4:before {
  content: "\e61c";
}

.iconxuanzhong:before {
  content: "\e691";
}

.iconbh:before {
  content: "\e67c";
}

.iconyiguoqi:before {
  content: "\e60a";
}

.iconxuanzhong1:before {
  content: "\e60c";
}

