@import "iconfont.css"
body
  font-size 16px

.ad
  position relative

  &:before
    content '广告'
    position absolute
    left 0
    top 0
    color #fff;
    background-color: #000;
    opacity .5;
    padding .2em .4em
    font-size 14px

.action
  background url("../images/3.jpg") repeat-x
  background-size: auto 100%

.bg-white
  color inherit !important

for item in (6 8)
  .scale-{item}
    transform scale(item / 10)

@keyframes loading {
  25% {
    transform scale(1.7)
  }
  50% {
    transform scale(1)
  }
}

.modal
  position fixed
  width 100%
  height 100%
  background-color: rgba(0, 0, 0, .5);
  left 0
  opacity 0
  top -1em
  z-index 3
  transition all .2s

  &.show
    opacity 1
    top 0em

  &-footer
    min-width 60vw
    max-width 80vw

.notice
  position fixed
  width 100%
  z-index 2
  left 0
  opacity .5
  top 0
  transform translate3d(0,-100%,0)
  background-color: #fff;
  transition all .2s

  &.show
    opacity 1
    transform translate3d(0,0,0)

.loading
  width 50px
  padding 10px
  border-radius 4px

.loading > p, .loading:before, .loading:after
  content ''
  display block
  width 6px
  height 20px
  background-color: #027be3;

.loading:before
  opacity .6
  animation loading 1s infinite ease-in

.loading > p
  opacity .8
  animation loading 1s .4s infinite ease-in

.loading:after
  animation loading 1s .6s infinite ease-in

.package
  .agree:checked + .iconfont
    color #00abff

  :checked + .inner
    border-color #00abff !important
    box-shadow none !important

    > .iconfont
      display block

  .item
    border-radius 4px;
    display block

    .iconfont
      position absolute
      font-size 30px
      right -2px
      top: -8px
      color #00abff

    > .inner
      background #fff
      border 2px solid transparent
      box-shadow #ccc 0 0 0 1px inset
      position relative

    &.tuijian > .inner > .col-auto:first-child:after
      content '推荐'
      margin-left 10px
      padding 4px 8px
      color #ffb400
      font-size 0.7em
      background-color: #f3dfad;


$radius = 6px
$shadow = #ddd 0 0 10px 0
.coupons
  .item
    display block

  .item-top
    background-color: #fff;
    box-shadow: $shadow
    border-top-left-radius $radius
    border-top-right-radius $radius

  .item-bottom
    background-color: #f3faff;
    box-shadow: $shadow
    border-bottom-left-radius $radius
    border-bottom-right-radius $radius

  .iconxuanzhong1
    color #ccc

  :checked ~ .iconfont
    color #12a3ff

  .guoqi
    &:before, &:after
      content ''
      flex 1
      border-top 1px solid #ccc

.bind-phone
  .gm-input
    padding-top 0
    color inherit

    &-helper
      color #ccc

.user
  > header
    background: url("../images/1.jpg") no-repeat;
    background-size: 100% 100%
    padding-top 30px
    padding-bottom 70px

  > main > div
    background-color: #fff;
    box-shadow #aed8ff 0 0 10px 0

.record
  .item
    background-color: #fff;
    box-shadow #ccc 0 0 10px 0

  .status
    background-color: #f3faff;
    color: #12a3ff

.problems
  .item
    border-color #f5f5f5

  .info
    display none

  :checked
    ~ .item .iconfont
      transform rotate(90deg)

    ~ .info
      display block